html, body, #root, #container {height:100%;}
body, #root, #container { 
    background: #ECEFF1; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
}
p, label {
    color: rgba(0,0,0,0.6);
    font-weight: bold; 
    font-size: 16px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}
main {
    width: 100%;
    height: 100%;
    padding: 10px;
}
section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}
label {
    margin-top: 16px;
    display: inline-block;

}
#menu {
    background: rgb(23, 21, 22); 
    height: 10%;
    width: 100%;
    min-height: 50px;
    max-height: 250px;
    padding-left:20px;
    padding-right: 25px;
    padding-top:3px;
    padding-bottom: 2px;
    display: inherit;
}
#logo_ext {
    height: 100%;
}
#message { 
    background: white; 
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    border-radius: 3px; 
}
#message h2 { 
    color: #ffa100; 
    font-weight: bold; 
    font-size: 16px; 
    margin: 0 0 8px; }
#message h1 { 
    font-size: 22px; 
    font-weight: 300; 
    color: rgba(0,0,0,0.6); 
    margin: 0 0 16px;}

#message a { 
    display: block; 
    text-align: center; 
    background: #039be5; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: white; 
    padding: 16px; 
    border-radius: 4px; }
#message, #message a { 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
#load { 
    color: rgba(0,0,0,0.4); 
    text-align: center; 
    font-size: 13px; 
}
#seleccionarArchivo {
    width: 60%;
    display: flex;
    flex-direction: row;
}
#archivoTipo {
    width: 40%;
}
#csvSelector {
    display:none;
}
.btn_subir_archivo {
    border: 0px ;
    background-color: rgba(23,21,22,1);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold; 
    font-size: 15px; 
    font-family: Helvetica, Arial, Roboto, sans-serif; 
}
.btn_subir_archivo:hover {
    background-color:  rgb(70, 70, 70);
}
.btn_default {
    border: 0px ;
    background-color: rgba(23,21,22,1);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold; 
    font-size: 15px; 
    font-family: Helvetica, Arial, Roboto, sans-serif; 
}
.btn_default:hover {
    background-color:  rgb(70, 70, 70);
}
.btn_default:disabled {
    background-color:  rgb(70, 70, 70);
}
.break {
    flex-basis: 100%;
    height: 0;
}
.panel {
    background: white; 
    border-radius: 20px;
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 50px 24px 24px 24px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.panel:hover {
    transform: scale(1.1);
}
.icon_128 {
    height: 128px;
    width: 128px;
}
.icon_64 {
    height: 64px;
    width: 64px;
}
.icon_32 {
    height: 32px;
    width: 32px;
}
.icon_16 {
    height: 16px;
    width: 16px;
}
.visible {
    display: block;
}
.invisible {
    display:none;
}
.competencia, .resultadosAprendizaje, .resultadoAprendizaje {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}
.criteriosEvaluacion {
    margin-left: 10px;
    padding: 10px;
}
.criterioEvaluacion {
    margin-left: 10px;
    margin-top: 5px;
}

.btn_Comp {
    font-size: 20px;
}
.btn_RA {
    font-size:16px;
}
.btn_Comp, .btn_RA {
    background-color: transparent;
    border: 0;
    
    color: rgba(0,0,0,0.6);
    text-align: left;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}
.btn_Comp:hover, .btn_RA:hover {
    cursor:pointer;
    
    color: rgba(0,0,0,1);
}
.marco {
    background-color: #bde2f5;
    padding: 20px;
}
@media (max-width: 600px) {
  body, body > div { 
    margin-top: 0; 
    background: white; 
    box-shadow: none; }

}