html, body, #root, #container {height:100%;}
body, #root, #container { 
    background: #ECEFF1; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
}
p, label {
    color: rgba(0,0,0,0.6);
    font-weight: bold; 
    font-size: 16px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}
main {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
}
section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    border-radius: 25px;
}
label {
    margin-top: 16px;
    display: inline-block;

}
#competenciaEditando {
    width: 50%;
}
#menu {
    background: rgb(23, 21, 22); 
    height: 10%;
    width: 100%;
    min-height: 50px;
    max-height: 250px;
    padding-left:20px;
    padding-right: 25px;
    padding-top:3px;
    padding-bottom: 2px;
    display: inherit;
}
#logo_ext {
    height: 100%;
}
#load { 
    color: rgba(0,0,0,0.4); 
    text-align: center; 
    font-size: 13px; 
}
#editarCompetencia {
    flex-direction: row;
    justify-content: space-between;
    height: inherit;
    padding-top: 10px ;
}
#navegadorPdfContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
#seleccionarArchivo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#btn_procesar_archivo {
    align-self: flex-start;
}
#archivoTipo {
    width: auto;
    border-left: 1px solid rgb(107, 107, 107);
    padding-left: 15px;
    margin-left: 15px;
    height: 100%;
}
.texto_3 {
    font-size: 14px;
}
.titulo {
    font-size: 25px;
}
.alto {
    height: 100%;
}
.btn_subir_archivo {
    border: 0px ;
    background-color: rgba(23,21,22,1);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold; 
    font-size: 15px; 
    font-family: Helvetica, Arial, Roboto, sans-serif; 
}
.btn_subir_archivo:hover {
    background-color:  rgb(70, 70, 70);
}
.btn_cancelar {
    background-color: transparent;
    border-radius: 16px;
    border: 0px;
    padding: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.btn_cancelar:hover {
    background-color:  rgba(70, 70, 70, 0.1);
}
.btn_default {
    border: 0px ;
    background-color: rgba(23,21,22,1);
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold; 
    font-size: 15px; 
    font-family: Helvetica, Arial, Roboto, sans-serif; 
    display: inline-flex;
    align-items:center;
    align-content: center;
}
.btn_default:hover {
    background-color:  rgb(70, 70, 70);
}
.btn_default:disabled {
    background-color:  rgb(70, 70, 70);
}
.ancho {
    width: 100%;
}
.break {
    flex-basis: 100%;
    width: 100%;
    height: 0;
}
.contenedor_botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor_botones_seleccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.panel {
    background: white; 
    border-radius: 20px;
    max-width: 360px; 
    margin: 100px auto 16px; 
    padding: 50px 24px 24px 24px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.flex_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.panel_horizontal {
    background: white; 
    border-radius: 20px;
    max-width: 100%; 
    margin: 100px auto 16px; 
    padding: 50px 24px 24px 24px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.panel:hover, .panel_horizontal:hover {
    transform: scale(1.1);
}

.icon_128 {
    height: 128px;
    width: 128px;
}
.icon_64 {
    height: 64px;
    width: 64px;
}
.icon_32 {
    height: 32px;
    width: 32px;
}
.icon_16 {
    height: 16px;
    width: 16px;
}
.visible {
    display: block;
}
.invisible {
    display:none;
}
.oculto {
    visibility: hidden;
}
.competencia {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}
.resultadosAprendizaje, .resultadoAprendizaje {
    padding: 10px;
}
.horizontal {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.resultadosAprendizaje_editable {
    
    overflow:auto;
    height: 100%;
}
.competencia_editable, .resultadosAprendizaje_editable, .resultadoAprendizaje_editable {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    height: 100%;
}
.criteriosEvaluacion, .criterioEvaluacion {
    margin-left: 10px;
    padding: 6px;
}
.criterioEvaluacion_editable, .criterioEvaluacion_editable {
    margin-left: 10px;
    margin-top: 5px;
}

.btn_Comp {
    font-size: 20px;
}
.btn_RA {
    font-size:16px;
}
.btn_Comp, .btn_RA {
    background-color: transparent;
    border: 0;
    color: rgba(0,0,0,0.6);
    text-align: left;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}
.btn_Comp_Editable {
    font-size: 16px;
}
.btn_RA_Editable, .text_RA_Editable {
    font-size: 14px;
}
.btn_CE_Editable, .text_CE_Editable {
    font-size: 12px;
}
.btn_Comp_Editable, .btn_RA_Editable, .text_RA_Editable, .btn_CE_Editable, .text_CE_Editable {
    
    background-color: transparent;
    border: 0;
    color: rgba(0,0,0,0.6);
    text-align: left;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}
.btn_Comp:hover, .btn_RA:hover {
    cursor:pointer;
    color: rgba(0,0,0,1);
}
.btn_Comp_Editable:hover, .btn_RA_Editable:hover, .btn_CE_Editable:hover, .btn_transparente:hover {
    cursor:pointer;
    color: rgba(0,0,0,1);
}
.btn_transparente {
    border:0;
    background-color: transparent;
}
.contenedor_componentes_editables {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.marco {
    width: 100%;
}
.padding_10{
    padding: 5px 10px 0px 10px;
}
.padding {
    padding: 5px;
}
.visualizador_pdf {
    flex:none;
}
.boxShadow {
    box-shadow: 0px 0px 3px black;
}
.competenciaEditable {
    height: 100%;
    flex: 1;
    color: rgba(0,0,0,0.6);
    font-weight: bold; 
    font-size: 12px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}
.competencia_editando {
    width: 50%;
    height: 100%;
}
/* TEMA CLARO */
@media (prefers-color-scheme: light) {
    body, #root, #container { 
        background: #ECEFF1; 
        color: rgba(0,0,0,0.87); 
    }
    p, label {
        color: rgba(0,0,0,0.6);
    }
    #menu {
        background: rgb(23, 21, 22); 
    }
    #load { 
        color: rgba(0,0,0,0.4); 
    }
    #archivoTipo {
        border-left: 1px solid rgb(107, 107, 107);
    }
    .btn_subir_archivo {
        background-color: rgba(23,21,22,1);
    }
    .btn_subir_archivo:hover {
        background-color:  rgb(70, 70, 70);
    }
    .btn_cancelar:hover {
        background-color:  rgba(70, 70, 70, 0.1);
    }
    .btn_default {
        background-color: rgba(23,21,22,1);
        color: rgb(255, 255, 255);
    }
    .btn_default:hover {
        background-color:  rgb(70, 70, 70);
    }
    .btn_default:disabled {
        background-color:  rgb(70, 70, 70);
    }
    .panel {
        background: white; 
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .panel_horizontal {
        background: white; 
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .competencia {
        background-color: white;
    }
    .competencia_editable, .resultadosAprendizaje_editable, .resultadoAprendizaje_editable {
        background-color: white;
    }
    .btn_Comp, .btn_RA {
        background-color: transparent;
        color: rgba(0,0,0,0.6);
    }
    .btn_Comp_Editable, .btn_RA_Editable, .text_RA_Editable, .btn_CE_Editable, .text_CE_Editable {
        background-color: transparent;
        color: rgba(0,0,0,0.6);
    }
    .btn_Comp:hover, .btn_RA:hover {
        color: rgba(0,0,0,1);
    }
    .btn_Comp_Editable:hover, .btn_RA_Editable:hover, .btn_CE_Editable:hover, .btn_transparente:hover {
        color: rgba(0,0,0,1);
    }
    .btn_transparente {
        background-color: transparent;
    }
    .boxShadow {
        box-shadow: 0px 0px 3px black;
    }
    .competenciaEditable {
        color: rgba(0,0,0,0.6);
    }
  }
 /* TEMA OSCURO */
 @media (prefers-color-scheme: dark) {
    body, #root, #container { 
        background: rgb(37, 34, 36); 
        color: rgba(255, 255, 255, 0.87); 
    }
    p, label {
        color: rgba(255, 255, 255, 0.85);
    }
    section {
        background-color: #eceff12a;

    }
    #menu {
        background-color: rgb(23,21,22);
        border-bottom: 1px solid #eceff123;
        box-shadow: 0px 2px 1px 1px rgba(0,0,0, 0.1);;
    }
    #load { 
        color: rgba(255, 255, 255, 0.4); 
    }
    #archivoTipo {
        border-left: 1px solid rgb(107, 107, 107);
    }
    .btn_subir_archivo {
        background-color: rgb(77, 77, 77);
        border: 1px solid #eceff123;
        box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.12);
    }
    .btn_subir_archivo:hover {
        background-color:  rgb(34, 34, 34);
    }
    .btn_cancelar:hover {
        background-color:  rgba(206, 206, 206, 0.25);
    }
    .btn_default {
        background-color: rgb(77, 77, 77);
        color: #ECEFF1;
        border: 1px solid #eceff123;
        box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.12);
    }
    .btn_default:hover {
        background-color:  rgb(34, 34, 34);
    }
    .btn_default:disabled {
        background-color:  rgba(70, 70, 70,0.6);
        color: #eceff18c;
    }
    .panel {
        background: rgba(70, 66, 68, 0.74); 
        border: 1px solid #eceff123;
        box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.12);
    }
    .panel_horizontal {
        background: rgba(70, 66, 68, 0.74); 
        border: 1px solid #eceff123;
        box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.12);
    }
    .competencia {
        background-color: rgb(77, 77, 77);
    }
    .competencia_editable, .resultadosAprendizaje_editable, .resultadoAprendizaje_editable {
        background-color: rgb(77, 77, 77);
    }
    .btn_Comp, .btn_RA {
        background-color: transparent;
        color: rgba(255,255,255,0.85);
    }
    .btn_Comp_Editable, .btn_RA_Editable, .text_RA_Editable, .btn_CE_Editable, .text_CE_Editable {
        background-color: transparent;
        color: rgba(255,255,255,0.85);
    }
    .btn_Comp:hover, .btn_RA:hover {
        color: rgba(255,255,255,1);
    }
    .btn_Comp_Editable:hover, .btn_RA_Editable:hover, .btn_CE_Editable:hover, .btn_transparente:hover {
        color: rgba(255,255,255,1);
    }
    .btn_transparente {
        background-color: transparent;
    }
    .boxShadow {
        box-shadow: 0px 0px 3px #ECEFF1;
    }
    .competenciaEditable {
        color: rgba(255,255,255,0.85);
    }
  }
@media (max-width: 600px) {
  body, body > div { 
    margin-top: 0; 
    background: white; 
    box-shadow: none; }

}